
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/pokemon/get" method="get" name="form1">
	<table width="25%" border="0">
		<tr>
			<td>Pokedex ID</td>
			<td><input type="text" name="name" id="name" value="<%= id %>"/></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" id="name" value="<%= name %>"/></td>
		</tr>
		<tr>
			<td>Type</td>
			<td><input type="text" name="name" id="name" value="<%= type %>"/></td>
		</tr>
		<tr>
			<td>Habitat</td>
			<td><input type="text" name="name" id="name" value="<%= habitat %>"/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="Submit" value="Search"/></td>
		</tr>
	</table>
</form>

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
		<th>Pokedex ID

            <%= JSON.stringify(query) %></th>
		<th>Name</th>
		<th>Height</th>
		<th>Weight</th>
		<th>Type</th>
		<th>Habitat</th>
	</tr>

	<% if (data) { %>
	<% data.forEach(function(pokemon){ %>
		<tr>
			<td><%= pokemon.pokedexId %></td>
			<td><%= pokemon.name %></td>
			<td><%= pokemon.height %></td>
			<td><%= pokemon.weight %></td>
			<td><%= pokemon.typeName %></td>
			<td><%= pokemon.identifier %></td>
		</tr>
	<% }) %>
	<% } %>

</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
