
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>


<table width='80%' border=0>
	<tr>
        <% if (typeof query != 'undefined') {%>
        <%= query %>
        <% } %>
	</tr>
	<tr style='text-align:left; background-color:#CCC'>
		<th>Pokedex ID</th>
		<th>Name</th>
		<th>Height</th>
		<th>Weight</th>

		<!--vince-->
		<% if ((typeof division == 'undefined')) { %>
			<th>Type</th>
			<th>Habitat</th>
			<th>Evolves Into</th>
		<% } %>
	</tr>

	<% if (data) { %>
	<% data.forEach(function(pokemon){ %>
		<tr>
			<td><%= pokemon.pokedexId %></td>
			<td><%= pokemon.name %></td>
			<td><%= pokemon.height %></td>
			<td><%= pokemon.weight %></td>

			<!--vince-->
			<% if ((typeof division == 'undefined')) { %>
				<td><%= pokemon.typeName%></td>
				<td><%= pokemon.identifier %></td>
				<td><%= pokemon.evolvesInto %></td>
			<% } %>
		</tr>
	<% }) %>
	<% } %>


</table>


<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
