<!--
including header content which is common for all pages
-->
<%- include ../.././layouts/header.ejs %>

<% if (messages.error) { %>
<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/pokemon/types/edit/<%= typeId %>" method="post" name="form1">
    <table width="25%" border="0">
        <tr>
            <td>Name:</td>
            <td><input type="text" name="typeName" id="name" value="<%= typeName %>" /><td><input type="submit" name="Submit" value="Change name" /></td></td>
        </tr>
    </table>
    <input type="hidden" name="_method" value="PUT" />
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../.././layouts/footer.ejs %>
