
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<table width='80%' border=0>
	<tr>
        <% if (query) {%>
        <%= query %>
        <% } %>
	</tr>
	<tr style='text-align:left; background-color:#CCC'>
		<th>Leader</th>
		<th>Region</th>
		<th>Location</th>
		<th>Type</th>
    	<th>Badge</th>
		<th>Find pokemon of type: </th>
	</tr>

    <% if (data) { %>
    <% data.forEach(function(g){ %>
	<tr>
		<td><%= g.leader %></td>
		<td><%= g.identifier %></td>
		<td><%= g.locationName %></td>
		<td><%= g.typeName %></td>
		<td><%= g.badge %></td>
		<td>
			<form action="/gyms/join" method="post" name="form2">
				<input type="submit" name="find" id="find" value=<%= g.typeName %> />
			</form>
		</td>

		</td>
	</tr>
    <% }) %>
    <% } %>

</table>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
